<p id="notice"><%= notice %></p>

<div class="solution panel panel-default">
  <div class="panel-heading"><%= @issue.title %>
  </div>
  <div class="panel-body">
    <% if @issue.solutions.present? %>
    <ul class="solution-list">
      <% @issue.solutions.each do |solution| %>
      <li class="list_solution">
        <%= solution.description %>
      </li>
      <% end %>
    </ul>

    <% else %>
    <h1>No solution</h1>
    <% end %>
    <%= form_tag("/solutions", method: "post", remote: true) do %>
        <div class="form-group">
          <%= hidden_field_tag 'issue_id', @issue.id %>
          <%= text_area_tag 'description',nil,class:'form-control', required: true,  placeholder: "Your Comment" %>
        </div>
          <%= submit_tag "Post Solution", class: "btn btn-primary" %>
        </div>

    <% end %>

  </div>
  </div>
<!--</p>-->

<%#= link_to 'Edit', edit_issue_path(@issue) %>
<!--<%#= link_to 'Back', issues_path %>-->
