<div class="search panel panel-default">
  <div class="panel-heading header-text">Search
  </div>
  <div class="panel-body">
    <%= form_tag("/issue_search", method: "get", remote: true) do %>
        <div class="form-group">
          <%= label_tag(:q, "Free Text", class: "control-label") %>
          <%= text_field_tag :q, '', class: "form-control" %>
        </div>
        <div class="form-group">
          <%= label_tag(:category_id, "Category", class: "control-label") %>
          <%= select_tag "category", options_from_collection_for_select(Category.all, "id", "name"), class: "form-control", :prompt => 'Select' %>
        </div>
        <div class="form-group">
          <%= label_tag(:language_id, "Language", class: "control-label") %>
          <%= select_tag "language", options_from_collection_for_select(Language.all, "id", "name"), class: "form-control", :prompt => 'Select' %>
        </div>
        <div class="form-group">
          <%= submit_tag "Search", class: "btn btn-primary" %>
        </div>
    <% end %>
  </div>
</div>