<p id="notice"><%= notice %></p>

<p>
  <strong>Issue:</strong>
  <%= @solution.issue_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @solution.description %>
</p>

<%= link_to 'Edit', edit_solution_path(@solution) %> |
<%= link_to 'Back', solutions_path %>
